@model Kun.Ops.Entities.MaintenanceRow

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}
@{ 
    var reportDate = ((DateTime)Model.ReportDate).ToString("yyyy-MM-dd");
    var billDate = ((DateTime)Model.Date).ToString("yyyy-MM-dd");
}
<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                维保单
                <small class="pull-right">单据日期: @billDate </small>
            </h2>
        </div>
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>单据编号:</td>
                        <td>@Model.BillNo</td>
                        <td>状态:</td>
                        <td>@Serenity.EnumMapper.GetText(Model.Status)</td>
                        <td>维保单位:</td>
                        <td>@Model.VendorName</td>
                    </tr>
                    <tr>
                        <td>报修人:</td>
                        <td>@Model.Reporter</td>
                        <td>报修时间:</td>
                        <td>@reportDate</td>
                        <td>报修部门:</td>
                        <td>@Model.ReportCustomerName</td>
                    </tr>
                    <tr>
                        <td>分类:</td>
                        <td>@Model.TypeName</td>
                        <td>地址:</td>
                        <td colspan="3">@Model.Address</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>故障描述:</td>
                    </tr>
                    <tr height="100">
                        <td>@Model.Description</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>处理结果:</td>
                    </tr>
                    <tr height="100">
                        <td>@Model.Content</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td width="80">更换配件:</td>
                        @{ var change = "否";
                            if ((bool)Model.ChangeDevice)
                            {
                                change = "是";
                            }
                            else
                            {
                                change = "否";
                            }
                        }
                        <td colspan="6">@change</td>
                    </tr>
                    @if ((bool)Model.ChangeDevice)
                    {
                        <tr>
                            <td colspan="7">物料列表:</td>
                        </tr>
                        <tr>
                            <td>行号</td>
                            <td>名称</td>
                            <td>数量</td>
                            <td>单位</td>
                            <td>单价</td>
                            <td>金额</td>
                            <td>规格</td>
                        </tr>
                        @foreach (var m in Model.Materials)
                        {
                            <tr>
                                <td>@m.Serial</td>
                                <td>@m.MaterialName</td>
                                <td>@m.Qty</td>
                                <td>@m.UnitName</td>
                                <td>@m.SalePrice</td>
                                <td>@m.SaleAmount</td>
                                <td>@m.Specification</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        @{
            var manFee = Model.Manhours.Sum(c => c.Amount);
        }
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td width="15%">劳务费:</td>
                        <td width="35%">@manFee</td>
                        <td width="15%">服务商费用:</td>
                        <td width="35%">@Model.ServicerCost</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td width="150px">
                            用户意见和建议:
                        </td>
                        <td height="50px">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            互联网信息化中心确认:
                        </td>
                        <td height="50px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            备注:
                        </td>
                        <td height="50px">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td width="500px">
                            注：1本单作为本公司维修保养的论据。
                            2、双方人员都必须在本单上如实填写。
                        </td>
                        <td width="100px">
                            维保人:
                        </td>
                        <td>
                             
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</section>
